# It is advised to ensure transformed methods do not have non-transformed overrides that restrict the visibility,
# which will result in the JVM throwing an error.
# Examples of methods that can be safely transformed are final methods (or methods in final classes),
# and static methods. private methods are generally safe as well;
# however, they could cause unintentional overrides in any subtypes, so some additional manual validation should be performed.

public net.minecraft.client.multiplayer.MultiPlayerGameMode performUseItemOn(Lnet/minecraft/client/player/LocalPlayer;Lnet/minecraft/world/InteractionHand;Lnet/minecraft/world/phys/BlockHitResult;)Lnet/minecraft/world/InteractionResult;

public net.minecraft.world.entity.Entity isLocalClientAuthoritative()Z
public-f net.minecraft.world.entity.Entity moveOrInterpolateTo(Ljava/util/Optional;Ljava/util/Optional;Ljava/util/Optional;)V
public net.minecraft.world.entity.Entity firstTick

public net.minecraft.world.entity.player.Player isLocalClientAuthoritative()Z

public net.minecraft.world.level.Level getEntities()Lnet/minecraft/world/level/entity/LevelEntityGetter;
public net.minecraft.server.level.ServerLevel getEntities()Lnet/minecraft/world/level/entity/LevelEntityGetter;
public net.minecraft.client.multiplayer.ClientLevel getEntities()Lnet/minecraft/world/level/entity/LevelEntityGetter;

public net.minecraft.world.entity.projectile.ProjectileUtil getHitResult(Lnet/minecraft/world/phys/Vec3;Lnet/minecraft/world/entity/Entity;Ljava/util/function/Predicate;Lnet/minecraft/world/phys/Vec3;Lnet/minecraft/world/level/Level;FLnet/minecraft/world/level/ClipContext$Block;)Lnet/minecraft/world/phys/HitResult;

public net.minecraft.world.phys.AABB getDirection(DDDDDDLnet/minecraft/world/phys/Vec3;[DLnet/minecraft/core/Direction;DDD)Lnet/minecraft/core/Direction;
public net.minecraft.world.phys.AABB clipPoint([DLnet/minecraft/core/Direction;DDDDDDDDLnet/minecraft/core/Direction;DDD)Lnet/minecraft/core/Direction;


public net.minecraft.client.gui.GuiGraphics renderTooltipInternal(Lnet/minecraft/client/gui/Font;Ljava/util/List;IILnet/minecraft/client/gui/screens/inventory/tooltip/ClientTooltipPositioner;)V

public net.minecraft.client.renderer.entity.LlamaSpitRenderer LLAMA_SPIT_LOCATION

public net.minecraft.client.particle.ParticleEngine particles
public net.minecraft.client.particle.ParticleEngine random
public net.minecraft.client.particle.ParticleEngine makeParticle(Lnet/minecraft/core/particles/ParticleOptions;DDDDDD)Lnet/minecraft/client/particle/Particle;
public-f net.minecraft.client.particle.ParticleGroup particles
public net.minecraft.client.particle.SingleQuadParticle setAlpha(F)V
public net.minecraft.client.particle.SpellParticle setAlpha(F)V
