# It is advised to ensure transformed methods do not have non-transformed overrides that restrict the visibility,
# which will result in the JVM throwing an error.
# Examples of methods that can be safely transformed are final methods (or methods in final classes),
# and static methods. private methods are generally safe as well;
# however, they could cause unintentional overrides in any subtypes, so some additional manual validation should be performed.

public net.minecraft.world.entity.projectile.ProjectileUtil getHitResult(Lnet/minecraft/world/phys/Vec3;Lnet/minecraft/world/entity/Entity;Ljava/util/function/Predicate;Lnet/minecraft/world/phys/Vec3;Lnet/minecraft/world/level/Level;FLnet/minecraft/world/level/ClipContext$Block;)Lnet/minecraft/world/phys/HitResult;

public net.minecraft.client.gui.GuiGraphics renderTooltipInternal(Lnet/minecraft/client/gui/Font;Ljava/util/List;IILnet/minecraft/client/gui/screens/inventory/tooltip/ClientTooltipPositioner;)V

public net.minecraft.world.entity.Entity isLocalClientAuthoritative()Z
public net.minecraft.world.entity.player.Player isLocalClientAuthoritative()Z

public net.minecraft.client.renderer.entity.LlamaSpitRenderer LLAMA_SPIT_LOCATION
